.LastProjectsSec{
    padding: 25px;
}
.LastProjectsSec-title{
    margin-bottom: 5rem;
    text-align: center ;
}
.allLast-projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
}
.allLast-projects  .project{
    max-width: 100%;
}


@media (max-width: 400px) {
    .allLast-projects  .project{
        min-width: 100%;
    }
}