.service-page .service-header {
    position: relative;
    height: 63vh;
    overflow: hidden;
}
.service-page .lierEffectImg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--bg-body) 0%, rgba(255, 255, 255, 0) 40%);
}
.service-page .service-bgImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.service-page .img-content{
    position: absolute;
    top: 35%;
    left: 30px;
    /* transform: translateY(-50%); */
}

.service-page .service-title{
    font-size: 3.5rem;
    font-weight: 600;
    max-width: 500px;

}
.service-page .service-icon{
    width: 4rem;
}

.service-page .service-subTitle{
    padding: 30px;
    max-width: 75%;
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
}
.service-page .para-container{
    padding-inline: 25px 35px;
    max-width: 860px;
    margin: auto;
}
.service-page .service-paragraph{
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    color: var(--font-secondaryColor);
}

.service-page .point{
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 1.5rem;
}
.service-page .point-icon{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 7px #ed1c2334; 
    background-color: var(--color-primary);
}

@media (max-width:992px) {
    .service-page .para-container{
        max-width: 835px;
    }
    .service-page .service-paragraph{
        font-size: 1.1rem;
    }
}
@media (max-width:767px) {
    .service-page .lierEffectImg {
        background: linear-gradient(to right, var(--bg-body) 0%, rgba(255, 255, 255, 0) 70%);
    }
    .service-page .para-container{
        max-width: 100%;
    }
    .service-page .service-paragraph{
        font-size: .9rem;
    }
    .service-page .service-subTitle{
        max-width: 100%;
        padding-bottom: 0px;
        font-size: 1.5rem;
        margin-bottom: 2rem;
    }
}