.imgCarouselWrapper {
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 77%;
    overflow: hidden;
}

.imgCarousel {
    display: flex;
    width: 100%; 
    transition: transform 0.5s ease-in-out;
}

.imgCarouselImage {
    min-width: 100%; 
    height: 100%; 
    background-size: cover; 
    background-position: center; 
    object-fit: cover;
}

.content-wrapper {
    background-color: var(--bg-component);
    color: var(--font-tertiaryColor);
    justify-content: space-between;
    width: 38.625rem;
    margin-right: 1.25rem;
    padding: 3rem 4.25rem 2.5rem 3rem;
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
}

.carousel-paragraph {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    margin-bottom: 2.5rem;
    transition: opacity 0.3s ease-in-out;
}

.carousel-paragraph.fade {
    opacity: 0;
}

.carousel-btn {
    width: 3rem;
    height: 3rem;
    padding: 0;
    border: none;
    background-color: transparent;
}

@media (max-width: 1024px) {
    .imgCarouselWrapper {
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;
    }
    .content-wrapper {
        width: 100%;
        margin-right: 0rem;
        padding: 2rem 1.5rem 1rem;
        display: block;
    }
    .carousel-paragraph {
        font-size: 1.8rem;
        margin-bottom: .5rem;
    }
}
@media (max-width: 767px) {
    .imgCarousel {
        height: 80vh;
    }
    .carousel-paragraph {
        font-size: 1.3rem;
        line-height: 1.25;
        margin-bottom: .5rem;
    }
    
}
@media (max-width: 560px) {

    .imgCarousel {
        height: 80vh;
    }
    .content-wrapper {
        padding: 1rem 1.5rem 0rem;
    }
    .carousel-paragraph {
        font-size: 1rem;
    }
    
}