.projects-page .all-projects {
    position: relative;
    top: -7rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 25px;
    gap: 30px;
}

.projects-page .project {
    flex: 1 0 30%;
    min-width: 300px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    overflow: hidden; 
    margin-bottom: 5rem;
}
.projects-page .pageTitle {
    height: 50vh;
    display: flex;
    align-items: center;
    background-color: var(--bg-footer);
    font-weight: 700;
    font-size: 4.5rem;
    padding-left: 25px;
}

.projects-page .imgPro-Wrapper {
    width: 100%;
    aspect-ratio: 6/4; 
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.projects-page .project-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.projects-page .project-title, .info-wrapper {
    display: flex;
    gap: 10px;
    text-align: left; 
}
.projects-page .project-title {
    font-size: 20px;
    font-weight: 800;
    padding: 10px;
    margin-bottom: 10px;

}
.projects-page .info-text{
    font-weight: 600;
    color: var(--font-secondaryColor);
    padding-inline: 10px;
    margin-bottom: 5px;

}
.projects-page .info{
    font-weight: 600;
    color: var(--font-mainColor);
    padding-inline: 10px;
}



@media (max-width:767px) {
    .projects-page .project {
        max-width: 100%;
    }
    .projects-page .imgPro-Wrapper {
        aspect-ratio: 8/5; 
    }
    .projects-page .pageTitle {
        font-size: 3rem;
    }
}