.MAIN-WRAPPER:has(.home-page) 
.headroom-wrapper{
    position: absolute;
    width: 100%;
}
.MAIN-WRAPPER:has(.home-page) .the-nav{
    background-color: transparent;
    backdrop-filter: blur(5px);
    border-bottom: 1px solid #ffffff27;
    box-shadow: 0px 0px 5px 0px #000;
}
.MAIN-WRAPPER:has(.home-page)  
.the-nav:has(.nest-wrapper.active){
    background-color: var(--bg-body);
}
.MAIN-WRAPPER:has(.home-page)  
.the-nav:has(.webLinks.open){
    background-color: var(--bg-body);
}
.MAIN-WRAPPER:has(.home-page) 
.headroom--scrolled .the-nav{
    background-color: #1a2331c4;
    transition: var(--transition-main);
}

/* .headroom--scrolled .the-nav{

}
.headroom--scrolled 
.the-nav:has(.nest-wrapper.active){

}

.nav-container {

}

.the-nav {

} */